@using Web.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Регистрация";
}

<h2>регистрация на сайте</h2>
<div>
    @using(Html.BeginForm())
    {
        <p>
            @Html.ValidationSummary(true)
        </p>
        <p>
            Логин: @Html.TextBoxFor(x=>x.UserName) @Html.ValidationMessageFor(x=>x.UserName)
        </p>
        <p>
            Пароль: @Html.EditorFor(x => x.Password) @Html.ValidationMessageFor(x => x.Password)
        </p>
        <p>
            Пароль ещё раз: @Html.EditorFor(x => x.ConfirmPassword) @Html.ValidationMessageFor(x => x.ConfirmPassword)
        </p>
        <p>
            Email: @Html.TextBoxFor(x => x.Email) @Html.ValidationMessageFor(x => x.Email)
        </p>
        <p>
            Имя: @Html.TextBoxFor(x => x.FirstName) @Html.ValidationMessageFor(x => x.FirstName)
        </p>
        <p>
            Фамилия: @Html.TextBoxFor(x => x.LastName) @Html.ValidationMessageFor(x => x.LastName)
        </p>
        <p>
            Отчество: @Html.TextBoxFor(x => x.MiddleName) @Html.ValidationMessageFor(x => x.MiddleName)
        </p>
        <p>
            Номер студенческого: @Html.TextBoxFor(x => x.NumberStudent) @Html.ValidationMessageFor(x => x.NumberStudent)
        </p>
        <input type="submit" value="Зарегистрироваться" />
        
    }
</div>

